﻿/*Info-Main: Part of AdminPages. Must be stored in $serverName/admin folder
Info: This is a style-sheet for AdminPages
Author: Mieszko 4 <mieszko4GmailCom>
CreationDate: 2008.09.25*/

body
{
	background-color:#ffffff;
	color:#777777;
	font-family:Arial;
	font-size:12px;
}

a:active,a:link,a:visited
{
	color:#ee8800;
	text-decoration:none;
}

img
{
	border:1px solid #bbbbbb;
}

table
{
	border-collapse:collapse;
	border-spacing:0px;
}

td,th
{
	padding:2px;
}

h1
{
	margin-top:20px;
	margin-bottom:20px;
	color:#ee8800;
	font-size:20px;
}

h3
{
	margin-top:15px;
	margin-bottom:15px;
	color:#ee8800;
	font-size:15px;
}

fieldset
{
	border: 1px #bbbbbb solid;
	padding:10px;
	width:50%;
}

/*----*/
.centerDivOut
{
	display:block;
	margin-left:25%;
	margin-right:25%;
	height:100%;
}

.centerDivIn
{
	display:block;
	text-align:center;
	padding-top:25%;
	height:50%;
}

.loginDiv
{
	display:block;
	height:100%;
	background-color:#eeeeee;
	padding: 30px;
	border: 1px #cccccc solid;
}

/*-----*/
.welcomeMenu
{
	position:absolute;
	top:1px;
	right:1px;
	font-size:11px
}

.mainContentDiv
{
	margin-left:10%;
	margin-right:10%;
	margin-top:30px;
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:30px;
	
	margin-bottom:30px;

	background-color:#eeeeee;
	border: 1px #cccccc solid;
}

hr
{
	border-top: 1px dashed gray;
	border-bottom: none;
	height: 0px;
	
	margin-top:50px;
	margin-bottom:50px;

}

/*display Table*/
table.display
{
	border: 1px #bbbbbb solid;
	width:100%;
}

table.display td,th
{
	border: 1px #bbbbbb solid;
	padding:10px;	
}

table.display tr.addNew
{
	background-color:#ffffce;
}

table.display thead
{
	background-color:#feee66;
}

table.display tbody
{
	background-color:#FFFFee;
}

multibox.select
{
	background-color:#FFFF99;
	border-width:1px;
}


/*messages*/
.error
{
	color:red;
}
.success
{
	color:green;
}
.info
{
	color:blue;
}
