/*Info-Main: Part of Orimari.com Must be stored in $serverName/files folder (2008.09.25:mieszko4GmailCom) */
body
{
	background:#ffffff;
	margin-left:0px;
	margin-top:0px;
	height:100%;
	width:100%;
	text-align:center;
}

table
{
	border-collapse:collapse;
	border-spacing:0px;
}

td,th
{
	padding:0px;
}

img
{
	border-style:none;
}

div.mainDiv
{
	text-align:left;
	margin: 0 auto;
	width:918px;  /*MAIN WIDTH*/
}

table.mainTable
{	
	
	width:918px; /*MAIN WIDTH*/
	top:0px;
	position:absolute;
	table-layout:fixed;
	background:#fafafa;
}


/*NAVIGATION ROW*/
.navRow
{
	height:29px;
}

.navCellLeft
{
	background-color:#eceeec;
	width:361px;
}

.navCellRight
{
	text-align:right;
}


.navLeftMargin /*applies to img*/
{
	 margin-left:17px;
}

/*Rotation Row*/
.rotCellRight
{
	background:#eceeec;
}

/*Table Seperators*/

.horSeperator
{
	height:1px;
}
.verSeperator
{
	width:2px;
}


/*Main Menu*/
.mainMenu
{
	height:29px; /*change ALSO line-height in <a>*/
	background-color:#a7bdcb;
	background-image:url('../files/mainMenu.jpg');
	width:100%;
	text-align:center;
}

.mainMenuMargin
{
	width:5px;
}

.mainMenuSeperator
{
	width:1px;
	background-color:#ffffff;
}


.mainMenu td
{
	height:100%;
	text-align:center;
}

.mainMenu a
{
	color:white; /*def:white*/
	text-transform:uppercase;
	font-size:11px;
	font-family:Arial;
	text-decoration:none;
	
	vertical-align:middle;
	line-height:29px;
	height:100%;
	width:100%;
	display:block;
}

.mainMenu a:hover
{
	background-color:#5C7A86;
	background-image:url('../files/mainMenuHover.jpg');
}


/*Main Title*/
.mainTitle
{
	width:550px;
	border-collapse:collapse;
	border-spacing:0px;
	
	margin-top:40px;
	margin-bottom:40px;
}
table.mainTitle h1
{
	margin-top:0px;
	margin-bottom:0px;
	white-space:nowrap;
}
table.mainTitle hr
{
	border-top: 1px solid #367dbb;
	border-bottom: none;
	height: 0px;
	vertical-align:bottom;
}
table.mainTitle .separator
{
	width:40px;
}
table.mainTitle .line
{
	vertical-align:bottom;
}


/*Contents*/
.subMenu
{
	margin-top:-25px;
	margin-bottom:40px;
}

.mainContent
{
	padding-left:20px;
	padding-right:20px;
}
.mainContent, .mainContent td
{
	font-family:Arial;
	font-size: 12px;
	color:#666666;
}


.mainContent a:link
{
	color:#367dbb;
	text-decoration:none;
}
.mainContent a:visited
{
	color:#367dbb;
	text-decoration:none;
}
.mainContent a:active
{
	color:#367dbb;
	text-decoration:none;
}

.mainContent a:hover
{
	color:#c9a94d;
}

.textContent
{
	text-align:justify;
	border-style:none;
}

.textContent table td,th
{
	padding:20px;
}

.movieContent
{
	text-align:center;
	
	margin-top:20px;
	margin-bottom:20px;
}

.photosContent
{
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
}

.photosContent img
{
	margin-left:21px;
	margin-top:21px;
	
	padding: 3px;
	border: 1px solid #cccccc;
}


hr.horizontal
{
	border-top: 1px solid #367dbb;
	border-bottom: none;
	height: 0px;
	
	margin-top:50px;
	margin-bottom:50px;
}

h1
{
	font-family:Calibri,Corbel,Arial;
	text-transform:uppercase;
	font-size:19px;
	font-weight:normal;
	color:#043e64;

	margin-top:40px;
	margin-bottom:35px;
}

h2
{
	font-weight:bold;
	color:#063c62;
	font-family:Arial;
	font-size: 12px;
	
	margin-top:25px;
	margin-bottom:15px;
}

p
{
	margin-top:10px;
	margin-bottom:10px;
}

/*Bottom Menu*/
.bottomMenu
{
	background-color:#61818d;
	height:46px;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

.bottomMenu a
{
	color:white;
	text-transform:uppercase;
	font-size:11px;
	font-family:"Arial Narrow", Arial;
	text-decoration:none;
	display:inline-block;
}

.bottomMenu img
{
	vertical-align:middle;
}

/*Footer*/
.footerRow td
{
	padding-top:4px;
	padding-bottom:20px;
}

.footerCellLeft
{
	padding-left:17px;
	text-align:left;
}

.footerCellRight
{
	text-align:right;
}

/*OTHERSSSS*/
/*FORM TABLE*/
fieldset
{
	border:1px #cccccc solid;
	padding: 20px;
	width:50%;
}
.formTable
{
	border-collapse:collapse;
	border-spacing:0px;
}
.formTable tr td,th
{
	padding:2px;	
}

/*MESSAGES*/
.error
{
	color:red;
}

/*OTHER*/

.bordedPicture
{
	padding: 3px;
	border: 1px solid #cccccc;
	margin-left:10px;
	margin-right:40px;
	margin-top:5px;
	margin-bottom:1px;
}
.justBordedPicture
{
	padding: 3px;
	border: 1px solid #cccccc;
}


.unbordedPicture
{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}

hr.menu
{
	border-top: 1px solid #367dbb;
	border-bottom: none;
	height: 0px;
}