/*Info-Main: Part of Orimari.com Must be stored in $serverName/files folder (2008.09.25:mieszko4GmailCom) */
body
{
	background:rgb(255,255,255);
	margin-left:0px;
	margin-top:0px;
	height:100%;
	width:100%;
	text-align:center;
	/*background:url('xmas/xsnow2.png');*/
}


table
{
	border-collapse:collapse;
	border-spacing:0px;
}

td,th
{
	padding:0px;
}

img
{
	border-style:none;
}

div.mainDiv
{
	text-align:left;
	margin: 0 auto;
	width:918px;  /*MAIN WIDTH*/
	padding-bottom:0px;
	overflow:hidden;
}

table.mainTable
{	
	
	width:918px; /*MAIN WIDTH*/
	height:100%;
	top:0px;
	/*position:absolute;*/
	table-layout:fixed;
	background:rgb(248,248,248);
}


/*NAVIGATION ROW*/
.navRow
{
	height:29px;
	background:rgb(255,255,255);
}

.navCellLeft
{
	background-color:rgb(199,199,199);
	text-align:center;
	width:208px;
}

.navCellRight
{
	text-align:right;
}


/*Rotation Row*/
.rotCellRight
{
	background:rgb(237,237,237);
}
.rotCellLeft
{
	background:rgb(255,255,255);
}

/*Table Seperators*/
.menuSeperator
{
	height:5px;
	background:rgb(237,237,237);
}
.horSeperator
{
	height:1px;
}
.verSeperator
{
	width:2px;
}


/*Main Menu*/
.mainMenu
{
	background:rgb(141,141,141);
	padding-left:2px;
	padding-bottom:2px;
	padding-right:2px;
}
.mainMenu table
{
	height:26px; /*change ALSO line-height in <a>*/
	background-color:rgb(133,133,133);	
	width:100%;
	text-align:center;
}

.mainMenu td
{
	height:100%;
	text-align:center;
}
.mainMenu a
{
	color:rgb(255,255,255); /*def:white*/
	text-transform:uppercase;
	font-size:11px;
	font-family:Arial;
	text-decoration:none;
	
	vertical-align:middle;
	line-height:26px;
	height:100%;
	width:100%;
	display:block;
}

.mainMenuOff
{
	border-left:1px rgb(184,184,184) solid;
	border-bottom:1px rgb(184,184,184) solid;
	border-right:1px rgb(184,184,184) solid;
	background-image:url('../files/mainMenuOff.png');
}
.mainMenuOn
{
	border-left:1px rgb(184,184,184) solid;
	border-bottom:1px rgb(184,184,184) solid;
	border-right:1px rgb(184,184,184) solid;
	background:rgb(168,168,168);
	background-image:url('../files/mainMenuOn.png');
}
.mainMenuSeperator
{
	width:3px;
	border-style:none;	
}


/*Main Title*/
.mainTitle
{
	width:550px;
	border-collapse:collapse;
	border-spacing:0px;
	
	margin-top:40px;
	margin-bottom:40px;
}
table.mainTitle h1
{
	margin-top:0px;
	margin-bottom:0px;
	white-space:nowrap;
}
table.mainTitle .separator
{
	width:10px;
}

/*Contents*/
#subMenu
{
	margin-top:-38px;
	margin-bottom:53px;
	margin-left:17px;
	font-size:12px;
}
#subMenu a
{
	color:rgb(136,136,136);
	text-decoration:none;
}

#subMenu a.pageOn
{
	color:rgb(141,141,141);
}


.mainContent
{
	padding-left:20px;
	padding-right:20px;
}
.mainContent, .mainContent td
{
	font-family:Arial;
	font-size: 12px;
	color:rgb(100,100,100);
}


.mainContent a
{
	color:rgb(111,111,111);
	text-decoration:none;
}

.textContent
{
	text-align:justify;
	border-style:none;
}

.textContent table td,th
{
	padding:20px;
}

.movieContent
{
	text-align:center;
	
	margin-top:20px;
	margin-bottom:20px;
}

.photosContent
{
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
}

.photosContent img
{
	margin-left:21px;
	margin-top:21px;
	
	padding: 3px;
	border: 1px solid rgb(204,204,204);
}


hr.horizontal
{
	border-top: 1px solid rgb(141,141,141);
	border-bottom: none;
	height: 0px;
	
	margin-top:50px;
	margin-bottom:50px;
}

h1
{
	font-family:Calibri,Corbel,Arial;
	font-size:23px;
	font-weight:normal;
	color:rgb(100,100,100);

	margin-top:40px;
	margin-bottom:35px;
}

h2
{
	font-weight:bold;
	color:rgb(141,141,141);
	font-family:Arial;
	font-size: 12px;
	
	margin-top:25px;
	margin-bottom:15px;
}

p
{
	margin-top:10px;
	margin-bottom:10px;
}

/*Bottom Menu*/
.bottomMenu
{
	background-color:rgb(138,138,138);
	height:25px;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
}

.bottomMenu a
{
	color:rgb(255,255,255);
	font-size:12px;
	font-family:"Arial Narrow", Arial;
	text-decoration:none;
	display:inline-block;
}

.bottomMenu img
{
	vertical-align:middle;
}

/*Footer*/
.footerRow
{
	padding-top:4px;
	padding-bottom:50px;
	background:rgb(199,199,199);
	margin-bottom:0px;
}

.footerCellLeft
{
	padding-left:17px;
	text-align:left;
}

.footerCellRight
{
	text-align:right;
}

/*OTHERSSSS*/
/*FORM TABLE*/
fieldset
{
	border:1px rgb(204,204,204) solid;
	padding: 20px;
	width:50%;
}
.formTable
{
	border-collapse:collapse;
	border-spacing:0px;
}
.formTable tr td,th
{
	padding:2px;	
}

/*MESSAGES*/
.error
{
	color:rgb(76,76,76);
}

/*OTHER*/

.bordedPicture
{
	padding: 3px;
	border: 1px solid rgb(204,204,204);
	margin-left:10px;
	margin-right:40px;
	margin-top:5px;
	margin-bottom:1px;
}
.justBordedPicture
{
	padding: 3px;
	border: 1px solid rgb(204,204,204);
}


.unbordedPicture
{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}

hr.menu
{
	border-top: 1px solid rgb(141,141,141);
	border-bottom: none;
	height: 0px;
}

.stressed
{
	color:rgb(141,141,141);
}

table.cleanTable td,th
{
	padding:0px;
}

table.tabsTable
{
	margin-left:-20px;
	margin-right:-20px;
}
table.tabsTable td,th
{
	padding-left:0px;
	padding-right:0px;
	padding-top:10px;
	padding-bottom:5px;
}

img.bordedImg
{
	padding-left:6px;
	border-left:2px;
	color:rgb(141,141,141);
}